In [81]:
%config Completer.use_jedi = False
import pandas as pd
df = pd.read_csv('salaries_by_college_major.csv')
df.head()
df.shape
df.columns
df.isna()
df.tail()
clean_df = df.dropna()
clean_df.tail()
clean_df['Starting Median Salary'].max()
clean_df['Starting Median Salary'].idxmax()
clean_df['Undergraduate Major'].loc[43]
clean_df.loc[43]
clean_df.head()
clean_df['Mid-Career Median Salary'].idxmax()
clean_df['Mid-Career Median Salary'].max()
clean_df.loc[8]
clean_df['Starting Median Salary'].idxmin()
clean_df.loc[49]
clean_df['Mid-Career Median Salary'].idxmin()
clean_df.loc[18]
clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']
spread_col = clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']
clean_df.insert(1, 'Spread', spread_col)
clean_df.head()
low_risk = clean_df.sort_values('Spread')
low_risk[['Undergraduate Major', 'Spread']].head()
low_risk = clean_df.sort_values('Mid-Career 90th Percentile Salary', ascending=False)
low_risk[['Undergraduate Major', 'Mid-Career 90th Percentile Salary']].head()
low_risk = clean_df.sort_values('Spread', ascending=False)
low_risk.head()
group = clean_df.groupby('Group')
group['Mid-Career 90th Percentile Salary'].mean()
pd.options.display.float_format = '{:,.2f}'.format
group['Mid-Career 90th Percentile Salary'].mean()
clean_df.columns
df.()

AttributeError: 'DataFrame' object has no attribute 'findna'

In [ ]:
chemical engineering 107000
Spanish 34000
Education 52000